.bio {
  margin-bottom: 0;
}

.bio .bio-avatar {
  display: inline-block;
  border-radius: 100%;
  margin-right: var(--spacing-2);
}

.bio .bio-author {
  margin: 0;
  vertical-align: top;
  color: var(--color-text-light);
}

@media screen and (max-width: 28rem) {
  .bio-author {
    display: none;
  }
}