.blog-post-nav ul {
  margin: 0;
  gap: var(--spacing-2);
  
  li {
    flex: 1;
    margin: 0;
    padding: var(--spacing-2);
    margin: 0;
    background-color: var(--color-blog-post-nav-btn);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--color-blog-post-nav-btn-hover);
    }
    a {
      color: var(--color-text);
      text-decoration: none;
      font-weight: bold;
      
      p {
        display: flex;
        align-items: center;
        margin: 0;
        
        svg {
          margin: 0 var(--spacing-2);
        }
      }

      div {
        margin: 0 0.5rem;
        
        .title {
          font-size: var(--fontSize-2);
        }

        .date {
          font-size: var(--fontSize-0);
          color: var(--color-text-light);
        }
      }
    }

    &:last-child a {
      p {
        flex-direction: row-reverse;
      }
      div {
        text-align: right;
      }
    }
  }
}
