.categories {
  padding: var(--spacing-3);
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  font-size: var(--fontSize-0);

  .categories-header {
    margin: 0;
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding: 0;

    .category-link {
      list-style: none;
      margin-top: 0 !important;

      &::before{
        content: attr(data-content);
      }

      ul {
        padding: 0;
      }
    }

    a {
      /* text-decoration: none; */
      color: var(--color-text);
    }
  }
}

.category-page-subtitle {
  font-size: var(--fontSize-4);
}
