.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  color: var(--color-text);
  vertical-align: middle;
  padding: var(--spacing-1) var(--spacing-3);
  text-decoration: none !important;
  
  &.pagination-current-link {  
    background-color: var(--color-primary);
    color: white;
    border-radius: 25%;
  }

  svg {
    display: block;
    fill: var(--color-primary);
  }
}
