.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-links {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: var(--color-pagination);

}

.pagination-link {
  color: var(--color-text);
  vertical-align: middle;
  text-align: center;
  padding: var(--spacing-1) var(--spacing-3);
  text-decoration: none !important;
  
  &.pagination-current-link {  
    background-color: var(--color-primary);
    color: white;
    border-radius: 0.5rem;
  }

  &.pagination-next, &.pagination-previous {
    svg {
      display: block;
      fill: var(--color-primary);
    }
  }
}
