:root {
  --color-prismjs-code: #24292f;
  --color-prismjs-codeblock: #b3d4fc;
  --bgcolor-prismjs-codeblock: #f6f8fa;
  --color-prismjs-inlinecode: #24292f;
  --bgcolor-prismjs-inlinecode: rgba(175, 184, 193, 0.2);

  --color-prismjs-token-comment: #6e7781;
  --color-prismjs-token-string: #0a3069;
  --color-prismjs-token-symbol: #6639ba;
  --color-prismjs-token-operator: #6639ba;
  --color-prismjs-token-keyword: #cf222e;
  --color-prismjs-token-function: #6639ba;
  --color-prismjs-token-variable: #953800;
  --color-prismjs-token-tag: #116329;
}

body.dark {
  --color-prismjs-code: #c9d1d9;
  --color-prismjs-codeblock: #e6edf3;
  --bgcolor-prismjs-codeblock: #161b22;
  --color-prismjs-inlinecode: #e6edf3;
  --bgcolor-prismjs-inlinecode: rgba(110, 118, 129, 0.4);

  --color-prismjs-token-comment: #8b949e;
  --color-prismjs-token-string: #a5d6ff;
  --color-prismjs-token-symbol: #79c0ff;
  --color-prismjs-token-operator: #79c0ff;
  --color-prismjs-token-keyword: #ff7b72;
  --color-prismjs-token-function: #d2a8ff;
  --color-prismjs-token-variable: #ffa657;
  --color-prismjs-token-tag: #7ee787;
}