.side-bar {
  min-width: 250px;
  display: flex;
  flex-direction: column;
    
  & > * {
    margin: var(--spacing-3);
    padding: var(--spacing-3);
  }

  @media screen and (max-width: 56rem) {
    & {
      display: none;
    }
  }
}