.table-of-contents {
  position: sticky;
  top: 150px;

  & * {
    transition: color 0.1s linear;
    transition: font-weight 0.1s linear;
  }

  @media screen and (max-width: 70rem) {
    & {
      display: none;
    }
  }
  
  & > ul {
    margin: 0 0 0 var(--spacing-6);
    max-width: var(--maxWidth-xs);
    width: var(--maxWidth-xs);
    border-left: 2px solid var(--color-blockquote);
  }
  
  & ul {
    padding-left: var(--spacing-4);
    list-style-type: none;
  }
  
  & a {
    text-decoration: none;
    color: var(--color-blockquote);
    font-size: var(--fontSize-0);
  }
  
  & a.active {
    color: var(--color-text) !important;
    font-weight: var(--fontWeight-bold);
  }
  
  & p {
    margin: 0;
  }

}

