@media screen and (max-width: 1440px) {
  .table-of-contents {
    display: none;
  }
}

.table-of-contents-layout {
  position: sticky;
  top: 150px;
}

.table-of-contents {
  position: absolute;
  left: 100%;
}

.table-of-contents > ul {
  margin: 0 0 0 var(--spacing-6);
  max-width: var(--maxWidth-xs);
  width: var(--maxWidth-xs);
  border-left: 2px solid var(--color-blockquote);
}

.table-of-contents ul {
  padding-left: var(--spacing-4);
  list-style-type: none;
}

.table-of-contents a {
  text-decoration: none;
  color: var(--color-blockquote);
  font-size: var(--fontSize-0);
}

.table-of-contents a.active {
  color: var(--color-text) !important;
  font-weight: var(--fontWeight-bold);
}

.table-of-contents p {
  margin: 0;
}
