.tags {
  padding-left: 0;
  list-style: none;
}

.tag,
.tag:first-child {
  display: inline-block;
  padding: 0 0.5rem 0.1em 0.5rem;
  margin: 0.125rem;
  transition: filter 0.25s linear;
}

.tag:hover {
  filter: brightness(75%);
}

.tag {
  color: white;
  text-decoration: none;
}