div.tags ul {
  padding-left: 0;
}

div.tags li{
  display: inline-block;
  padding: 0 0.5rem;
  margin-right: 0.25rem;
  transition: filter 0.25s linear;
}

div.tags li:hover {
  filter: brightness(75%);
}

div.tags li:last-child {
  margin-right: 0;
}

div.tags li a {
  color: white;
  text-decoration: none;
}

ul.tags-list li.tags-list-item {
  display: inline-block;
}