.top-bar {
  position: fixed;
  width: 100%;
  height: auto;
  padding: var(--spacing-5);

  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: var(--color-top-bar);

  /* Always on top */
  z-index: 999;
}

.top-bar .home-link {
  display: flex;
  align-items: center;
}

.top-bar .divider {
  flex-grow: 1;
}

.top-bar .home-link .main-heading {
  display: inline-block;
}

.top-bar .home-link .main-heading-icon {
  display: none;
}

@media screen and (max-width: 42rem) {
  .top-bar .home-link .main-heading {
    display: none;
  }
  
  .top-bar .home-link .main-heading-icon {
    display: inline-block;
  }
}

.top-bar h1 {
  font-size: var(--fontSize-2);
  border-bottom: none;
  padding: 0;
  margin: 0;
}

.top-bar a {
  text-decoration: none;
  color: var(--color-text);
}

.top-bar a:hover {
  text-decoration: none;
}

.top-bar .top-bar-right {
  display: flex;
  align-items: center;
}

.top-bar .top-bar-right>* {
  margin: 0 var(--spacing-1);
}

.top-bar .top-bar-links {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-4);
}

.top-bar .top-bar-links>* {
  margin: 0 var(--spacing-2);
}

.top-bar .top-bar-right .bio-icons {
  margin: 0 var(--spacing-2);
  color: var(--color-text);
  text-decoration: none;
  padding-top: var(--spacing-1);
}

.top-bar .top-bar-right .theme-toggler {
  margin-left: var(--spacing-4);
}