.top-bar {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--top-bar-size);
  padding: var(--spacing-5);

  display: flex;
  align-items: center;
  background-color: var(--color-top-bar);

  z-index: 999;
  overflow: hidden;

  /* background image */

  .top-bar-icon {
    display: block;
    position: absolute;
    width: 100%;
    height: var(--top-bar-size);
    top: -1.5rem;
    left: 0.5rem;
    z-index: -10;
    filter: grayscale(1);
    filter: blur(1px);
    opacity: 0.5;
  }

  /* home icon and blog title */

  .home-link {
    display: flex;
    align-items: center;

    .main-heading {
      display: inline-block;
    }

    .main-heading-icon {
      display: none;
    }
  }

  @media screen and (max-width: 56rem) {
    .home-link {
      .main-heading {
        display: none;
      }

      .main-heading-icon {
        display: inline-block;
      }
    }
  }

  /* empty space */

  .divider {
    flex-grow: 1;
  }

  /* text decoration */

  & h1 {
    font-size: var(--fontSize-2);
    border-bottom: none;
    padding: 0;
    margin: 0;
  }

  & a {
    text-decoration: none;
    color: var(--color-text);

    &:hover {
      text-decoration: none;
    }
  }

  /* links and theme toggler */

  .top-bar-right {
    display: flex;
    align-items: center;

    & {
      margin: 0 var(--spacing-1);
    }

    .bio-icons {
      margin: 0 var(--spacing-2);
      color: var(--color-text);
      text-decoration: none;
      padding-top: var(--spacing-1);
    }

    .theme-toggler {
      margin-left: var(--spacing-4);
    }
  }

  .top-bar-links {
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-4);

    & {
      margin: 0 var(--spacing-2);
    }
  }
}
